[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/puppetlabs/puppetlabs-apache.git
